* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

html {
  font-size: 18px;
  line-height: 1.4;
}

:root {
  --primary-color: hsl(160deg, 100%, 30%);
  --secondary-color-50: hsl(45deg, 100%, 50%);
  --secondary-color-40: hsl(45deg, 100%, 40%);
  --gray-10: hsl(0deg, 0%, 10%);
  --gray-30: hsl(0deg, 0%, 30%);
  --gray-40: hsl(0deg, 0%, 40%);
  --gray-60: hsl(0deg, 0%, 60%);
  --border-width: 5px;
}

strong {
  color: var(--primary-color);
}

main {
  background: var(--gray-60);
  border-top: var(--border-width) var(--gray-40) solid;
  padding: 32px 0;
}

.max-width-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}

.intro-chunk {
  max-width: 400px;
  padding: 0 24px;
  font-size: 1.1rem;
}

.card {
  background: white;
  padding: 8px 24px;
  border-bottom: var(--border-width) var(--gray-40) solid;
}

.title {
  font-size: 1.5rem;
  padding-bottom: 24px;
}

.indented-heading {
  width: fit-content;
  font-size: 1.2rem;
  background: var(--secondary-color-50);
  border-bottom: var(--border-width) var(--secondary-color-40) solid;
  padding: 16px 32px;
  margin: 0 0 0 -32px;
}
